body {
  font-size: 62.5%;
  /*10 ÷ 16 × 100% = 62.5%*/
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
p {
  font-size: 1.4em;
  /*1.4em × 10 = 14px */
}
li {
  font-size: 1.4em;
  /*1.4 × ? = 14px ? */
}
.header {
  width: 100%;
  height: 6em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.swiper-container {
  min-height: 250px;
}
.swiper-img {
  width: 100%;
}
.company-flex {
  display: flex;
}
.company-left,
.company-right {
  width: 50%;
}
#companyName {
  font-size: 3em;
  text-align: center;
  padding: 1em;
}
#companyDesc {
  font-size: 16px;
  padding: 15px 1.5em;
}
.company-desc-number {
  font-size: 2em;
}
.company-desc-number span {
  font-size: 0.5em;
  color: #747474;
}
.company-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 2em;
}
.company-row > div > div:nth-child(2) {
  margin-top: 1em;
}
.company-desc-text {
  color: #747474;
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
}
.process {
  padding: 2em;
  font-size: 22px;
  text-align: center;
}
.process .title {
  color: #212529;
  font-size: 1.5em;
}
.process .sub-title {
  font-size: 14px;
  margin-bottom: 1em;
}
.timeline img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}
.timeline .time-item {
  display: flex;
  justify-content: center;
}
.timeline .time-item :nth-child(1)::after {
  top: 2.5em;
  right: -5px;
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #8C8C8C;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(156, 156, 156, 0.3);
}
.timeline .time-item > div:nth-child(1) {
  border-right: 1px solid #8c8c8c;
  text-align: right;
  position: relative;
}
.timeline .time-item > div:nth-child(2) {
  text-align: left;
}
.timeline .time-item > div {
  width: 50%;
  padding: 2em;
}
.timeline .time-item > div > div:nth-child(2) {
  color: #838383;
  font-size: 12px;
}
.manage .manage-range {
  font-size: 22px;
  text-align: center;
}
.manage .manage-range-title {
  font-size: 1.5em;
}
.manage .manage-range-sub-title {
  font-size: 14px;
}
.manage .manage-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  height: 400px;
  overflow: hidden;
}
.manage .manage-list .manage-item {
  height: 400px;
  width: 30%;
  text-align: center;
  margin-left: 15px;
  padding: 30px 0;
}
.manage .manage-list .manage-item:nth-child(1) {
  background: url("assets/item1.png") no-repeat;
  background-size: cover;
  margin-left: 0;
}
.manage .manage-list .manage-item:nth-child(2) {
  background: url("assets/item2.png") no-repeat;
  background-size: cover;
}
.manage .manage-list .manage-item:nth-child(3) {
  background: url("assets/item3.png") no-repeat;
  background-size: cover;
}
.manage .manage-list .manage-item img {
  margin-top: 20px;
}
.manage .manage-list .manage-item-title {
  font-size: 22px;
  margin-top: 30%;
}
.manage .manage-list .manage-item-desc {
  font-size: 14px;
  width: 80%;
  margin: 15px 10%;
}
.slogan {
  width: 100%;
  height: 260px;
  margin-top: -50px;
  padding-top: 50px;
  background: url(assets/picture-1.png);
  background-size: cover;
}
.slogan > div {
  margin: 15px 35px;
  font-size: 16px;
}
.slogan .slogan-title {
  margin-top: 30px;
  font-size: 22px;
}
.product {
  padding: 30px;
}
.product-header {
  font-size: 22px;
  text-align: center;
}
.product-header-title {
  font-size: 1.5em;
}
.product-header-sub-title {
  font-size: 14px;
}
.product .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product .product-list .product-item {
  width: 208px;
  height: 208px;
  font-size: 12px;
  overflow: hidden;
  clear: both;
  margin: 15px;
}
.product .product-list .product-item-name {
  font-size: 14px;
}
.product .product-list .product-item-desc i {
  width: 30px;
  height: 18px;
  display: inline-block;
  background-image: url(assets/link.png);
  background-repeat: no-repeat;
}
.product .product-list .product-item img {
  width: 100%;
  height: 140px;
}
.contact {
  background: #222;
  color: #fff;
  padding: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
